---
import { ASSETS } from "../lib/constants";
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!-- Contact Start -->
<div class="container overflow-hidden py-5 px-lg-0">
  <div class="container contact-page py-5 px-lg-0">
    <div class="row mx-lg-0">
      <h6 class="text-secondary text-center">
        {i18n.CONTACT.GET_IN_TOUCH.TITLE}
      </h6>
      <h1 class="text-center">
        {i18n.CONTACT.GET_IN_TOUCH.SUB_TITLE}
      </h1>
    </div>

    <div class="row g-5 mx-lg-0 py-3">
      <div class="col-md-3 contact-form wow fadeIn" data-wow-delay="0.1s">
        <!-- Card -->
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title text-white">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </h5>
            <h6 class="text-white">NUESTRA OFICINA PRINCIPAL</h6>
            <p class="card-text">
              {ASSETS.address}
            </p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title text-white">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </h5>
            <h6 class="text-white">NÚMERO DE TELÉFONO</h6>
            <p class="card-text">
              {ASSETS.number}
            </p>
          </div>
        </div>
        <!-- Card End -->
      </div>
      <div class="col-md-3 contact-form wow fadeIn" data-wow-delay="0.1s">
        <!-- Card -->
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title text-white">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </h5>
            <h6 class="text-white">CORREO ELECTRÓNICO</h6>
            <p class="card-text">
              {ASSETS.email}
            </p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-white text-center">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </h5>
            <h6 class="text-white text-center">NUESTRA OFICINA PRINCIPAL</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>

        <!-- Card End -->
      </div>
      <div class="col-md-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s">
        <div class="position-relative h-100">
          <iframe
            class="position-absolute w-100 h-100"
            style="object-fit: cover;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
            frameborder="0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
></script>
<!-- Contact End -->
<style>
  /* Estilo personalizado para eliminar los márgenes entre los párrafos */
  .no-p-margin p {
    margin-bottom: 0; /* Eliminar el margen inferior */
  }
</style>
