---
import { ASSETS } from "../lib/constants";
import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";
import { getRelativeLocaleUrl } from "astro:i18n";
const { currentLocale } = Astro;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
var today = new Date();
var year = today.getFullYear();
---
<div
  class="container-fluid bg-primary text-light footer pt-5 wow fadeIn"
  data-wow-delay="0.1s"
  style="margin-top: 6rem;"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Address</h4>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>{ASSETS.address}
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{ASSETS.number}</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>{ASSETS.email}</p>
        <div class="d-flex pt-2">
          <!-- <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i></a
          > -->
          <a class="btn btn-outline-light btn-social" href={ASSETS.facebook}
            ><i class="fab fa-facebook-f"></i></a
          >
          <!-- <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i></a
          > -->
          <a class="btn btn-outline-light btn-social" href={ASSETS.linkedin}
            ><i class="fab fa-linkedin-in"></i></a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Services</h4>
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "services/maritime")}
          class="dropdown-item">{t("nav.marine_transport")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(
            currentLocale ?? "",
            "services/consulting"
          )}>{t("nav.consulting")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "services/customs")}
          class="dropdown-item">{t("nav.customs")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "services/air")}
          class="dropdown-item">{t("nav.air_transport")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "services/ground")}
          class="dropdown-item">{t("nav.ground_transportation")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "services/warehouse")}
          class="dropdown-item">{t("nav.warehouse")}</a
        >
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Quick Links</h4>
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "/")}
          >{t("nav.home")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "about")}
          >{t("nav.about")}</a
        >
        <a
          class="btn btn-link"
          href={getRelativeLocaleUrl(currentLocale ?? "", "contact")}
          >{t("nav.contact")}</a
        >
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Newsletter</h4>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px;"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">{ASSETS.name}</a>, All Right
          Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          Designed By <a class="border-bottom" href="#">{ASSETS.name} {year}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer End -->
